using System.Collections.Generic;

namespace Cassia.Tests
{
    public class TestEnvironment
    {
        public IEnumerable<string> Servers
        {
            get { return new string[0]; }
        }

        public static string Domain
        {
            get { return string.Empty; }
        }

        public static string UserName
        {
            get { return string.Empty; }
        }

        public static string Password
        {
            get { return string.Empty; }
        }
    }
}